
<div class="card mx-auto mt-3 text-center" style="width: 20rem;">
  <div class="bd-placeholder-img card-img-top my-3">
    <%= image_tag url_for(@user.image[0]), class: "", style: "#{image_style(100)}" %>
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>名前:</strong>
      <%= @user.name %>
    </p>
    <p class="card-text">
      <strong>メールアドレス:</strong>
      <%= @user.email %>
    </p>
  </div>
</div>
<div class="text-center mt-3">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', todos_path %>
</div>
