<%= form_with(model: @todo) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation" class="mx-auto">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card mx-auto" style="width: 30rem;">
    <div class="card-body mt-3">
      <div class="field card-text text-center">
        <%= form.label :deadline_time %>
        <%= form.datetime_select :deadline_time, include_blank: true, selected: Time.zone.now %>
      </div>
      <div class="field card-text text-center mx-auto" style="width: 20rem;">
        <%= form.label :content %>
        <%= form.text_area :content, class: "w-100" %>
      </div>
    </div>
    <div class="card-body text-right">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>



<% end %>
